<!doctype html>
<html>
  <head>
    <title>Gachiakuta — Setting</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/links.css">
  </head>
  <body>
    <header>
      <div class="left-group">
        <div id="back">click here to go back</div>
        <div id="site_title">GarbageChatter</div>
      </div>
      <div id="portal_button">
        <img id="redphenox" src="images/phenox.png" alt="Phenox Logo">
        <div id="portal_button_text">Gachiakuta</div>
      </div>
    </header>
    <main>
      <p>
        The setting of Gachiakuta is a hauntingly beautiful dystopian world built around discarded trash and forgotten places. 
        Massive garbage dumps sprawl across vast landscapes, where society's waste becomes the backdrop for daily survival. 
        Towering piles of rusted metal and tattered fabrics create narrow pathways and shadowy alleys, giving the world a raw, industrial aesthetic. 
        Amid this decay, hidden pockets of life flourish, forming a stark contrast between ruin and resilience. 
        The atmosphere feels oppressive yet strangely captivating, mirroring the characters' struggles as they navigate a world built from society's discarded remnants.
      </p>
    </main>
    <script src="/js/links.js"></script>
  </body>
</html>