<!doctype html>
<html>
  <head>
    <title>Gachiakuta — Abilities</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/links.css">
  </head>
  <body>
    <header>
      <div class="left-group">
        <div id="back">click here to go back</div>
        <div id="site_title">GarbageChatter</div>
      </div>
      <div id="portal_button">
        <img id="redphenox" src="images/phenox.png" alt="Phenox Logo">
        <div id="portal_button_text">Gachiakuta</div>
      </div>
    </header>
    <main>
      <p>
        In Gachiakuta, abilities arise from the characters’ connection to discarded items, transforming trash into tools of power. 
        These abilities aren't just flashy moves; they reflect creativity, resourcefulness, and the character's bond with their environment. 
        Each user's power feels deeply personal, often tied to their backstory or emotional scars. 
        Abilities blend seamlessly into combat, turning fights into inventive battles that showcase both skill and character depth. 
        This unique take on power makes the world feel alive and unpredictable, where anything thrown away could become a weapon or shield.
      </p>
    </main>
    <script src="/js/links.js"></script>
  </body>
</html>
