<!doctype html>
<html>
  <head>
    <title>Gachiakuta — MC Rudo</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/links.css">
  </head>
  <body>
    <header>
      <div class="left-group">
        <div id="back">click here to go back</div>
        <div id="site_title">GarbageChatter</div>
      </div>
      <div id="portal_button">
        <img id="redphenox" src="images/phenox.png" alt="Phenox Logo">
        <div id="portal_button_text">Gachiakuta</div>
      </div>
    </header>
    <main>
      <p>
        Rudo, the main character of Gachiakuta, embodies resilience and raw determination. 
        Born into a world that treats him like trash, Rudo turns his pain into strength, fighting for both survival and something bigger. 
        His deep bond with discarded items reflects his own struggle to prove his worth. 
        Throughout the story, Rudo’s journey is one of growth, as he faces betrayal, builds unlikely friendships, and begins to uncover truths about his world and himself. 
        His fiery spirit and refusal to be cast aside make him a compelling and relatable protagonist.
      </p>
    </main>
    <script src="/js/links.js"></script>
  </body>
</html>
