<!doctype html>
<html>
  <head>
    <title>GarbageChatter</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>
  <body tabindex="0">
    <div class="overlay-box"></div>
    <h1 id="splash_title">gachiakuta</h1>
    <p class="menu_button background_button" id="fade_text">Press SPACE BAR to get started</p>
    <script src="/js/global.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>